.cartas {
  border: 2px solid black;
  margin: 5px;
  width: 20vw;
  height: 28vw;  
  color: black;
  font-family: sans-serif;
  display: grid;
  text-align: center;   
  justify-items: center;
}



.descripcion{
  text-align: left;
  margin: 5px;
}