.cartas {
  border: 2px solid black;
  margin: 5px;
  width: 20vw;
  height: 28vw;
  text-decoration: none;
  color: black;
  font-family: sans-serif;
  
}



.descripcion{
  text-align: left;
  margin: 5px;
}