body{
   background-color: #f49f1c;
}
   

.cardstwo{  
 
   display: flex;
   flex-wrap: wrap;
   margin: 5px;
   text-decoration: none;  
   justify-content: center;
 
}

.paquetes{
   display: flex;
   justify-content: center;
   border: 4px solid rgb(0, 0, 0);
   
}

.ordenABC {
   margin: 5px;
   
   width: auto;
}

.ordenkgs {
   margin: 5px;
  
   width: 10%;
}

.filtertemp {
   margin: 5px;
   
}

.creados {
   margin: 5px;
   
}

.searchbar{
   margin: 5px;
   
   display: flow-root;
   align-self: end;
}

.arriba{
   display: flex;
   justify-content: space-around;
   border: 4px solid black;
}

.titulo {
 margin: 5px;
margin-block-start: 5px;
align-self: end;
font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
color: #00154f
}

.crear {
   margin-top: 30px;
   /* margin: 5px; */
   margin-right: 15px;
   align-self: end;
   
}

a{
   text-decoration: none;
}