.fondo{
   background-image: url('../imgs/img001.jpg');
   display: grid;
   background-repeat: no-repeat;
   justify-items: center;
   background-position: center;
  
   
   
   
   
   
   
   
}


.titulolp {
   font-size: xx-large;
   margin: 18vw;
}